<!-- CONTACT SECTION -->
<section
  class="container-fluid py-5 contact-section text-light bg-dark rounded"
  id="contact"
>
  <div class="container">
    <h2 class="mb-4">Contact</h2>
    <p>
      Email:
      <a href="mailto:morcouswael@gmail.com" class="text-info"
        >morcouswael&#64;gmail.com</a
      >
    </p>
    <p>
      GitHub:
      <a href="https://github.com/morcouswael" class="text-info" target="_blank"
        >github.com/morcouswael</a
      >
    </p>
    <p>
      LinkedIn:
      <a
        href="https://linkedin.com/in/morcous-wael"
        class="text-info"
        target="_blank"
        >linkedin.com/in/morcous-wael</a
      >
    </p>
  </div>
</section>
