//colors

$primary-color: #080808;

//gray grades
$gray-100: #9c9c9c;
$gray-200: #1b1b1b;

// green grades
$green-100: #3f8e00;

//fonts
$font-family: "IBM Plex Sans Arabic", "IBM Plex Sans", sans-serif;
