@use "variables" as *;
@use "functions" as *;
@use "mixins" as *;

.navbar {
  background-color: $primary-color;
  color: $gray-100;
  #mainNavbar {
    justify-content: space-evenly;
  }
  .navbar-nav {
    gap: to-rem(140px);
  }
}
