<!-- Hero Section -->
<section class="container-fluid pt-5 hero-section" id="hero">
  <div class="row align-items-center justify-content-between">
    <!-- Left Content -->
    <div class="col-lg-6 mb-4 mb-lg-0">
      <h1 class="fw-bold mb-3">
        <span class="gradient-title">Morcous Wael</span>
      </h1>
      <p class="lead mb-4">
        <span class="gradient-subtitle">{{ currentTitle() }}</span
        ><span class="blinking-cursor">|</span>
      </p>

      <!-- <button class="btn btn-lg btn-cta">Let’s get started &nbsp; &gt;</button> -->
    </div>

    <!-- Right Image -->
    <div class="col-lg-5 text-center">
      <img
        src="assets/images/linkedinOsa.jpg"
        alt="Profile"
        class="img-fluid rounded-circle hero-img"
      />
    </div>
  </div>

  <!-- Brand Logos -->
  <div class="mt-5 text-center brands">
    <p class="mb-3">Worked with</p>
    <div class="d-flex justify-content-center flex-wrap">
      <img src="assets/images/link-dev-logo.png" alt="Link Development Logo" />
    </div>
  </div>
</section>
