<!-- PROJECTS SECTION -->
<section
  class="container-fluid py-5 px-0 projects-section text-light"
  id="projects"
>
  <div class="container">
    <h2 class="mb-4">Projects</h2>
    <div class="row">
      <div class="col-md-6 px-0 mb-4">
        <div class="card bg-dark text-light h-100">
          <img
            src="assets/images/net-cafe.png"
            class="card-img-top project-img"
            alt="Project 1"
          />
          <div class="card-body">
            <h5 class="card-title">Net Cafe Website</h5>
            <p class="card-text">
              This is a project Related to GDSC Google Developer Student Club
              where we were asked to make a fully responsive Net Cafe Website
              the choice of using bootstrap was my own so that i can learn more
              about the technology.
            </p>
            <a
              href="https://morcouswael.github.io/Boostrap-Responsive-Project-net-cafe/"
              target="_blank"
              class="btn btn-outline-light btn-sm mx-0"
              >Live Demo</a
            >
            <a
              href="https://github.com/MorcousWael/Boostrap-Responsive-Project-net-cafe"
              target="_blank"
              class="btn btn-outline-secondary btn-sm ms-5"
              >GitHub</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card bg-dark text-light h-100">
          <img
            src="assets/images/carpool_ASU.jpg"
            class="card-img-top project-img"
            alt="Project 1"
          />
          <div class="card-body">
            <h5 class="card-title">CarPool ASU</h5>
            <p class="card-text">
              The CarPool ASU project is a rideshare application designed
              specifically for the Faculty of Engineering Community at Ain Shams
              University.
            </p>
            <!-- <a href="#" class="btn btn-outline-light btn-sm mx-5">Live Demo</a> -->
            <a
              href="https://github.com/MorcousWael/flutter_carpool_ASU.git"
              target="_blank"
              class="btn btn-outline-secondary btn-sm"
              >GitHub</a
            >
          </div>
        </div>
      </div>
      <!-- Duplicate for more projects -->
    </div>
  </div>
</section>
