<!-- SKILLS SECTION -->
<section
  class="container-fluid py-5 skills-section text-light bg-dark rounded"
  id="skills"
>
  <div class="container">
    <h2 class="mb-4">Skills</h2>
    <div class="row">
      <div class="col-6 col-md-3 mb-3">
        <span class="badge bg-primary p-2">Angular</span>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <span class="badge bg-warning text-dark p-2">TypeScript</span>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <span class="badge bg-success p-2">SCSS</span>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <span class="badge bg-info text-dark p-2">Bootstrap</span>
      </div>
    </div>
  </div>
</section>
